div.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #44B78B;
}

div.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    user-select: none;
}

div.features div.function {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

div.features div.function a {
    font-size: 1.4em;
    text-decoration: none;
    color: white;
}