@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#titles {
    background-color: white;
    padding: 12px;
    margin: 12px;
    text-align: center;
    width: 50%;
    box-shadow: 6px 6px 0px;
    border-radius: 6px;
}

#perfil-menu-mobile {
    display: none;
}



