@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

div.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

div.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    width: 100%;
    max-width: 200px;
    height: 100vh;
    background-color: #2db56f;
}

a.logo {
    color: white;
    font-size: 2em;
    font-weight: 600;
    user-select: none;
    text-decoration: none;
}

div.perfil-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100px;
    user-select: none;
}

div.perfil-image div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

div.perfil-image div p {
    color: white;
    font-weight: 600;
    font-size: 0.9em;
}

div.perfil-image img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

div.features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    user-select: none;
}

div.features div.function {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

div.features div.function a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

div.features div.function:hover {
    background-color: #359d64;
}

div.usersarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e7eef7;
}

table {
    padding: 0px 20px;
    width: 100%;
    text-align: left;
    border: none;
    border-collapse: separate;
    border-spacing: 0px 12px;
}


th, td {
    padding: 15px;
    border: none;
}

th {
    color: #b8beca;
    background-color: #f5f6fa;
}

td {
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
    color: white;
    background-color: #2db56f;  
}

td#startd, th#startd {
    border-radius: 20px 0px 0px 20px;
}
td#starte, th#starte {
    border-radius: 0px 20px 20px 0px;
}

.swal2-confirm,
.swal2-cancel {
    transition: none !important;
    animation: none !important;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.pagination a, .pagination span {
    padding: 10px 14px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

.pagination span {
    background-color: #2db56f;
    color: white;
}

.pagination a {
   background-color:white;
   color: #359d64;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    width: 100%;
    gap: 20px;
}

form div.date {
    display: flex;
    gap: 10px;
    background-color: transparent;
}

form div.date input {
    width: 50%;
}

form div.search {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    color: white;
    background-color: #2db56f;
    border-radius: 8px;
}

form div button#search {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    
}

input {
    outline: none;
    border: none;
    padding: 14px;
    border-radius: 8px;
    color: white;
    background-color: #2db56f;
}

input::placeholder{
    color: white;
    font-weight: 600;
}

input[type='text']{
    width: 100%;
}

button[type='submit'] {
    outline: none;
    border: none;
    padding: 14px;
    border-radius: 8px;
    color: white;
    background-color: #2db56f;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.swal2-checkbox {
    position: relative;
    cursor: pointer;
}
.swal2-checkbox:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#e9e9e9;
}
.swal2-checkbox:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#1E80EF;
}
.swal2-checkbox:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.swal2-a {
    padding: 8px;
    color: white;
    font-weight: 600;
    background-color: #d33;
    cursor: pointer;
    text-decoration: none;
}

options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

select {
    padding: 8px;
}

.input-date-sweet {
    border: 1px solid black;
    border-radius: 0px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 20px;
    background-color:  #e7eef7;
}

.dashboard-functions {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.dashboard-function {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: linear-gradient(to right,  #2db56f, #36d985);
    padding: 20px 40px 20px 20px;
    border-radius: 20px;
    min-width: 30%;
}

.dashboard-function p {
    font-size: 1.3em;
    color: white;
    font-weight: 600;
}

.dashboard-function-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.dashboard-function-image i {
    font-size: 2em;
    color: white;
}

.dashboard-function-image p {
    font-size: 2em;
    color: white;
}
