{% extends 'index.html '%}

{% block content %}
<div class="dashboard">
    <div class="dashboard-functions">
        <div class="dashboard-function">
            <div class="dashboard-function-image">
                <i class="fa-solid fa-sack-dollar"></i>
                <p>R${{money}}</p>
            </div>
            <div>
                <p>Faturamento</p>
            </div>
        </div>
        <div class="dashboard-function">
            <div class="dashboard-function-image">
                <i class="fa-solid fa-users"></i>
                <p>{{clients.count}}</p>
            </div>
            <div>
                <p>Serviços Totais</p>
            </div>
        </div>
        <div class="dashboard-function">
            <div class="dashboard-function-image">
                <i class="fa-solid fa-thumbtack"></i>
                <p>{{done_clients.count}}</p>
            </div>
            <div>
                <p>Serviços Feitos</p>
            </div>
        </div>
        <div class="dashboard-function">
            <div class="dashboard-function-image">
                <i class="fa-solid fa-user-shield"></i>
                <p>{{pendent_clients.count}}</p>
            </div>
            <div>
                <p>Clientes em Garantia</p>
            </div>
        </div>
    </div>
    <canvas id="myChart" data-faturamento='{{ faturamento }}'></canvas>
</div>
{% endblock %}