<h1 id="titles">Serviços</h1>
<form action="{% url 'home'  %}" method="POST">
    {% csrf_token %} 
    <div class="search">
        <button id="search" class="fa-solid fa-search"></button>
        <input type="text" name="name" id="" placeholder="Pesquisar" autocomplete="off">
    </div>
    <div class="date">
        <input type="date" name="start_date" id="" placeholder="fef" value="fff">
        <input type="date" name="end_date" id="" >
        <button type="submit">Filtrar</button>
    </div>
</form>