<div class="perfil" id="perfil-menu-desktop">
    <div class="features">   
        <div onclick="AddMembro()" class="function">
            <a class="fa-sharp fa-solid fa-user-plus"></a>
            
        </div>
        <div class="function">
            <a href="/dashboard" class="fa-sharp fa-solid fa-chart-simple"></a>
            
        </div>
        <div class="function">
            <a href="/archived" class="fa-sharp fa-solid fa-box-archive"></a>
            
        </div>
        <div class="function">
            <a href="/garantidos" class="fa-solid fa-shield-halved"></a>
           
        </div>
        <div class="function">
            <a  href="/" class="fa-solid fa-house"></a>
             
        </div>
        <div class="function">
            <a  href="/logout" class="fa-solid fa-arrow-right-from-bracket"></a>
             
        </div>
    </div>
</div>