<div class="perfil">
    <a href="/" class="logo">ListMind</a>
    <div class="perfil-image">
        <img src="static/img/Perfil image.jpg" alt="">
        <div>
            <p>Viktor Amaral</p>
            <p>@victoramaral369</p>
        </div>
    </div>
    <div class="features">   
        <div onclick="AddMembro()" class="function">
            <i class="fa-sharp fa-solid fa-user-plus"></i>
            <a>Adicionar Cliente</a>
        </div>
        <div class="function">
            <i class="fa-sharp fa-solid fa-box-archive"></i>
            <a href="/archived">Serviços Feitos</a> 
        </div>
        <div class="function">
            <i class="fa-sharp fa-solid fa-house"></i>
            <a>Sair Da Conta</a> 
        </div>
        <div class="function">
            <i class="fa-sharp fa-solid fa-chart-simple"></i>
            <a href="/dashboard">DashBoard</a>
        </div>
    </div>
</div>