{% if query %}
    <h1 id="titles">Serviços Feitos</h1>
{% endif %}
<table>
    <thead>
        <tr>
            <th id="startd">Nome</th>
            <th>Defeito</th>
            <th>Preço</th>
            <th>Opção</th>
            <th id="starte">Data(Previsão)</th>
        </tr>
    </thead>
    <tbody>
    {% for cliente in clientes %}
        {% if cliente.status == True %}
            <tr oncontextmenu="Mudar('{{cliente.id}}','{{cliente.status}}', '{{cliente.name}}', '{{cliente.defect}}')" onclick="Document('{{cliente.id}}')">
                <td id="startd">{{ cliente.name }}</td>
                <td>{{ cliente.defect }}</td>
                <td>R${{ cliente.price}}</td>
                <td>{{ cliente.get_option_display}}</td>
                <td id="starte">{{ cliente.predicted_date }}</td>
            </tr>
        {% else %}
            <tr oncontextmenu="Mudar('{{cliente.id}}', '{{cliente.status}}', '{{cliente.name}}', '{{cliente.defect}}')" onclick="Document('{{cliente.id}}')">
                <td id="startd">{{ cliente.name }}</td>
                <td>{{ cliente.defect }}</td>
                <td>{{ cliente.price}}R$</td> 
                <td>{{ cliente.get_option_display }}</td>
                <td id="starte">{{ cliente.predicted_date }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody> 
</table>