<table border="1">
    <thead>
            <tr>
                <th id="startd">Nome</th>
                <th>Número</th>
                <th>Preço</th>
                <th id="starte">Data</th>
            </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            {% if cliente.status == True %}
            <tr onclick="Mudar('{{cliente.id}}','{{cliente.status}}', '{{cliente.name}}', '{{cliente.description}}')">
                <td style="background-color: #2db56f; color: whitesmoke;" id="startd">{{ cliente.name }}</td>
                <td style="background-color: #2db56f; color: whitesmoke;">{{ cliente.phonenumber }}</td>
                <td style="background-color: #2db56f; color: whitesmoke;">{{ cliente.price}}R$</td>
                <td style="background-color: #2db56f; color: whitesmoke;" id="starte">{{ cliente.date }}</td>
            </tr>
            
            {% else %}
            
            <tr onclick="Mudar('{{cliente.id}}', '{{cliente.status}}', '{{cliente.name}}', '{{cliente.description}}')">
                <td id="startd">{{ cliente.name }}</td>
                <td >{{ cliente.phonenumber }}</td>
                <td >{{ cliente.price}}R$</td>
                <td id="starte">{{ cliente.date }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody> 
     
</table>